<div>
  <div>
    <h1>Directive</h1>
    <span appChangeText >Welcome to {{title}}.</span>
  </div>

  <div>
    <h1>Custom Pipe</h1>
    Square root of 25 is: {{25 | sqrt}}
    <br/>
    Square root of 729 is: {{729 | sqrt}}
  </div>

  <div>
    <h1>Data Binding</h1>
    Months :
    <select (change) = "changemonths($event)" name = "month">
      <option *ngFor = "let i of months">{{i}}</option>
    </select>
  </div>

  <div>
    <h1>Routes</h1>
    <a routerLink = "new-cmp">Show Date from New Component</a>
    <br/>
    <router-outlet></router-outlet>
  </div>

  <div>
    <h1>Http</h1>
    <ul *ngFor = "let data of httpdata">
      <li>
        Name : {{data.name}}
        <br/>
        Address: {{data.address.city}}
      </li>
    </ul>
  </div>
</div>
